---
layout: default
title: Home
---

<section id="one">
  <div class="container">
    <header class="major">
      <h2>mason hack club</h2>
      <p>learn. code. connect.</p>
    </header>
  </div>
</section>

<section id="two">
  <div class="container">
    <h3>about us</h3>
    <p>mason hack club is a computer programming club at william mason high school in mason, ohio, and is a chapter of the international <a href="https://hackclub.com" target="_blank">hack club organization</a>.</p>
    <ul class="feature-icons">
      <li class="fa-trophy">compete against peers</li>
      <li class="fa-code">learn more languages</li>
      <li class="fa-handshake-o">volunteer locally</li>
      <li class="fa-users">showcase projects</li>
      <li class="fa-building-o">connect with companies</li>
      <li class="fa-globe">work collaboratively</li>
    </ul>
  </div>
</section>

<section id="three">
  <div class="container">
    <h3>news &amp; updates</h3>
    <p>for a full list of posts, check out our <a href="{{ site.baseurl }}/blog">blog</a> or <a href="{{ site.baseurl }}/news">news</a> sections.</p>
    <div class="features">
      {% for post in site.posts offset: 0 limit: 3 %}
      {% assign author = site.data.authors[post.author] %}
      <article>
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p class="post-meta">
          {{ post.date | date: "%B %-d, %Y" }} •
          <a href="{{ site.url }}/staff/{{ author.display }}">{{ author.name }}</a> •
          <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
        </p>
        {% if post.image %}
        <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
        <div class="inner">
          <p>{{ post.excerpt }}</p>
        </div>
        {% else %}
        <p>{{ post.excerpt }}</p>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</section>
