---
layout: default
title: Home
---

<section id="one">
  <div class="container">
    <header class="major">
      <h2>Mason Hack Club</h2>
      <p>learn. code. connect.</p>
    </header>
  </div>
</section>

<section id="two">
  <div class="container">
    <h3>About Us</h3>
    <p>Mason Hack Club is a computer programming club at William Mason High School in Mason, Ohio, and is a chapter of the international <a href="https://hackclub.com" target="_blank">Hack Club organization</a>. We meet on Tuesdays in room Z211.</p>
    <ul class="feature-icons">
      <li class="fa-trophy">compete against peers</li>
      <li class="fa-code">learn more languages</li>
      <li class="fa-handshake-o">volunteer locally</li>
      <li class="fa-users">showcase projects</li>
      <li class="fa-building-o">connect with companies</li>
      <li class="fa-globe">work collaboratively</li>
    </ul>
  </div>
</section>

<section id="three">
  <div class="container">
    <h3>News &amp; Updates</h3>
    <p>For a full list of posts, check out our <a href="{{ site.baseurl }}/blog">blog</a> or <a href="{{ site.baseurl }}/news">news</a> sections.</p>
    <div class="features">
      {% for post in site.posts offset: 0 limit: 3 %}
      {% assign author = site.data.authors | where: "display", post.author | first %}
      <article>
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p class="post-meta">
          {{ post.date | date: "%B %-d, %Y" }} •
          <a href="{{ site.url }}/team/{{ author.display }}">{{ author.name }}</a> •
          <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
        </p>
        {% if post.image %}
        <a href="{{ post.url }}" class="image"><img src="/images/posts/{{ post.image }}" alt="{{ post.title }}" /></a>
        <div class="inner">
          {{ post.excerpt }}
        </div>
        {% else %}
        {{ post.excerpt }}
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</section>
