---
layout: default
title: News
---

<!-- One -->
<section id="one">
  <div class="container">
    <header class="major">
      <h2>News</h2>
      <p>important announcements.</p>
    </header>
  </div>
</section>

<section id="two" >
  <div class="container">
    {% for post in site.categories.news limit:1 %}
    {% assign author = site.data.authors[post.author] %}
    <article>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <h4 class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} •
          <a href="{{ site.url }}/staff/{{ author.display }}">{{ author.name }}</a> •
          <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
        </h4>
      </header>
      <section class="post-content">
        {% if post.image %}
        <a href="{{ post.url }}" class="image fit"><img src="/images/posts/{{ post.image }}" alt="{{ post.title }}"/></a>
        {% endif %}
        <p>{{ post.excerpt }}</p>
      </section>
      <section class="special">
        <ul class="actions">
          <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
        </ul>
      </section>
    </article>
    {% endfor %}
  </div>
</section>
<section>
  <div class="container">
    <div class="features">
      {% for post in site.categories.news offset:1 %}
      {% assign author = site.data.authors[post.author] %}
      <article>
        <section class="excerpt">
          <header>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p class="post-meta">
              {{ post.date | date: "%b %-d, %Y" }} •
              <a href="{{ site.url }}/staff/{{ author.display }}">{{ author.name }}</a> •
              <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
            </p>
          </header>
          {% if post.image %}
          <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
            <p>{{ post.content | truncatewords: 30 }}</p>
          {% else %}
          <p>{{ post.content | truncatewords: 30 }}</p>
          {% endif %}
        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
          </ul>
        </footer>
        <div class="clear"></div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
