---
layout: default
title: Blog
---

<!-- One -->
<section id="one">
  <div class="container">
    <header class="major">
      <h2>news</h2>
      <p>important announcements.</p>
    </header>
    <!-- <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p> -->
  </div>
</section>

<section id="two" >
  <div class="container">
    {% for post in site.categories.news limit:1 %}
    <article>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-content">
        <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
        {{ post.excerpt }}
      </section>
      <section class="special">
        <ul class="actions">
          <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
        </ul>
      </section>
    </article>
    {% endfor %}
  </div>
</section>
<section>
  <div class="container">
    <div class="features">
      {% for post in site.categories.news offset:1 %}
      <article>
        <section class="excerpt">
          <header>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          </header>

          <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
          {{ post.content | truncatewords: 30 }}
        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
          </ul>
        </footer>
        <div class="clear"></div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
