<!-- Header -->
<section id="header" class="skel-layers-fixed">
  <header>
    <span class="image avatar"><img src="{{ site.baseurl }}/images/mason-hack-club-square.png" alt="" /></span>
    <h1 id="logo"><a href="{{ site.baseurl }}/">mason hack club</a></h1>
    <!-- <p>learn. code. connect.</p> -->
  </header>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">home</a></li>
      <li><a href="{{ site.baseurl }}/register">register</a></li>
      <li><a href="{{ site.baseurl }}/blog">blog</a></li>
      <li><a href="{{ site.baseurl }}/news">news</a></li>
    </ul>
  </nav>
  <footer>
    <h4>Tuesdays @ B112</h4>
    <br>
    <ul class="icons">
      <li><a href="https://twitter.com/masonhackclub" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://hackclub.com/slack_invite" class="icon fa-slack"><span class="label">Slack</span></a></li>
      <li><a href="https://github.com/mason-hack-club" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:masonhackclub@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>
