<!-- Header -->
<section id="header" class="skel-layers-fixed">
  <header>
    <span class="image avatar"><img src="{{ site.baseurl }}/images/mason-hack-club-square.png" alt="" /></span>
    <h1 id="logo"><a href="{{ site.baseurl }}/">Mason Hack Club</a></h1>
    <!-- <p>learn. code. connect.</p> -->
  </header>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/register">Register</a></li>
      <li><a href="{{ site.baseurl }}/staff">Staff</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/news">News</a></li>
      <li><a class="featured" href="https://cincyhacks.tech" target="_blank">CincyHacks</a></li>
    </ul>
  </nav>
  <footer>
    <h4>Tuesdays @ B112</h4>
    <br>
    <ul class="icons">
      <li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
      <li><a href="https://hackclub.com/slack_invite" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
      <li><a href="https://github.com/{{ site.github }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
      <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
      <li><a href="https://linkedin.com/company-beta/{{ site.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
    </ul>
  </footer>
</section>
