---
layout: default
---

<!-- One -->
{% assign author = site.data.authors[page.author] %}
{% assign posts_author = site.posts | where:"author", author.display %}
<section id="one">
  <div class="container">
    <header class="major">
      <h2>{{ author.name }}</h2>
      <h4>{{ author.title }}</h4>
      <p>{{ author.bio }}</p>
      <ul class="icons">
        {% if author.email %}
        <li><a href="mailto:{{ author.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
        {% endif %}
        {% if author.web %}
        <li><a href="{{ author.web }}" class="icon fa-link" target="_blank"><span class="label">Website</span></a></li>
        {% endif %}
        {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        {% endif %}
        {% if author.linkedin %}
        <li><a href="https://linkedin.com/in/{{ author.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        {% endif %}
      </ul>
    </header>
  </div>
</section>

<section id="two">
  <div class="container">
    {% for post in posts_author limit:1 %}
    <article>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <h4 class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} •
          <a href="{{ site.url }}/staff/{{ author.display }}">{{ author.name }}</a> •
          <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
        </h4>
      </header>
      <section class="post-content">
        {% if post.image %}
        <a href="{{ post.url }}" class="image fit"><img src="/images/posts/{{ post.image }}" alt="{{ post.title }}" /></a>
        {% endif %}
        <p>{{ post.excerpt }}</p>
      </section>
      <section class="special">
        <ul class="actions">
          <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
        </ul>
      </section>
    </article>
    {% endfor %}
  </div>
</section>


<section>
  <div class="container">
    <div class="features">
      {% for post in posts_author offset:1 %}
      <article>
        <section class="excerpt">
          <header>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p class="post-meta">
              {{ post.date | date: "%b %-d, %Y" }} •
              <a href="{{ site.url }}/staff/{{ author.display }}">{{ author.name }}</a> •
              <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
            </p>
          </header>
          {% if post.image %}
          <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
          {% endif %}
          <p>{{ post.content | truncatewords: 30 }}</p>

        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
          </ul>
        </footer>
        <div class="clear"></div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
