---
layout: default
---
{% assign author = site.data.team | where: "display", page.author | first %}
<section>
  <div class="container">
    <header class="major">
      <h2>{{ page.title }}</h2>
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }} •
        <a href="{{ site.url }}/team/{{ author.display }}">{{ author.name }}</a> •
        <a href="{{ site.url }}/{{ post.categories }}">{{ page.categories }}</a>
      </p>
    </header>

    <section class="post-content">
      {% if page.image %}
      <div class="image fit">
        <img src="/images/posts/{{ page.image }}" alt="">
      </div>
      {% endif %}
      {{ content }}
    </section>

    <footer>
      {% if page.categories.previous %}
      <a href="{{ page.categories.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
      {% if page.categories.next %}
      <a href="{{ page.categories.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
    </footer>

  </div>

</section>
