---
layout: default
---

<!-- One -->
{% assign lead = site.data.team | where: "display", page.display | first %}
{% assign posts_author = site.posts | where:"author", lead.display %}
<section id="one" style="overflow: hidden; padding-bottom: 50px;">
  <div class="container">
    <div class="split split-left">
      <img class="image" style="max-width: 90%;" src="/images/staff/{{ lead.display }}.jpg" alt="{{ lead.name }}'s image">
    </div>
      <header class="major">
      <div class="split split-right">
        <h2>{{ lead.name }}</h2>
      </div>
      <div class="split right-alt">
        <h4>{{ lead.title }}</h4>
        <p>{{ lead.bio }}</p>
        <ul class="icons">
          {% if lead.email %}
          <li><a href="mailto:{{ lead.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
          {% endif %}
          {% if lead.web %}
          <li><a href="{{ lead.web }}" class="icon fa-link" target="_blank"><span class="label">Website</span></a></li>
          {% endif %}
          {% if lead.twitter %}
          <li><a href="https://twitter.com/{{ lead.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
          {% endif %}
          {% if lead.github %}
          <li><a href="https://github.com/{{ lead.github }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
          {% endif %}
          {% if lead.linkedin %}
          <li><a href="https://linkedin.com/in/{{ lead.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
          {% endif %}
          {% if lead.phone %}
          <li><a href="tel:{{ lead.phone }}" class="icon fa-phone"><span class="label">Phone</span></a></li>
          {% endif %}
        </ul>
      </div>
      </header>
  </div>
</section>

{% if posts_author[0] %}
<section id="two">
  <div class="container">
    {% for post in posts_author limit:1 %}
    <article>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <h4 class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} •
          <a href="{{ site.url }}/staff/{{ lead.display }}">{{ lead.name }}</a> •
          <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
        </h4>
      </header>
      <section class="post-content">
        {% if post.image %}
        <a href="{{ post.url }}" class="image fit"><img src="/images/posts/{{ post.image }}" alt="{{ post.title }}" /></a>
        {% endif %}
        <p>{{ post.excerpt }}</p>
      </section>
      <section class="special">
        <ul class="actions">
          <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
        </ul>
      </section>
    </article>
    {% endfor %}
  </div>
</section>


<section>
  <div class="container">
    <div class="features">
      {% for post in posts_author offset:1 %}
      <article>
        <section class="excerpt">
          <header>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p class="post-meta">
              {{ post.date | date: "%b %-d, %Y" }} •
              <a href="{{ site.url }}/staff/{{ lead.display }}">{{ lead.name }}</a> •
              <a href="{{ site.url }}/{{ post.categories }}">{{ post.categories }}</a>
            </p>
          </header>
          {% if post.image %}
          <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
          {% endif %}
          <p>{{ post.content | truncatewords: 30 }}</p>

        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
          </ul>
        </footer>
        <div class="clear"></div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
